.copy {
  display: none;
}
#better-and-faster {
  background-size: 135%;
}

#damn-good {
  min-height: 0.25vw;
  .bg-stack {
    display: inline-block;
    padding: 3rem 8rem 8rem 4rem;
    margin-top: -8rem;
    background-image: url("/img/header_panel_assets_cards.svg");
    background-repeat: no-repeat;
    background-size: contain;
    h2 {
      margin: 0;
    }
  }
}

#speed {
  background-color: $tan;
  background-image: repeating-conic-gradient(hsla(0, 0%, 100%, 0.2) 0 18deg, hsla(0, 0%, 100%, 0) 0 40deg);
  background-size: 100%;
}

#online-tools {
}

#feedback {
}

#toolbox {
  .card {
    padding: 0 1rem;
    text-align: center;
  }
  .card-img-top {
    height: 150px;
  }
  .card-footer {
    margin-top: 2rem;
  }
}

#get-started {
}
