.copy {
  display: none;
}
#better-and-faster {
  background-size: 135%;
}

#damn-good {
}

#speed {
  background-color: $tan;
  background-image: repeating-conic-gradient(hsla(0, 0%, 100%, 0.2) 0 18deg, hsla(0, 0%, 100%, 0) 0 40deg);
  background-size: 100%;
}

#online-tools {
}

#feedback {
}

#toolbox {
}

#get-started {
}
