.copy {
  display: none;
}
#better-and-faster {
  background-size: 135%;
  svg {
    // Hide group node on smaller screen sizes. ** Using media query mixin.
    #top_yellow_ribbon {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
}

#damn-good {
  min-height: 0.25vw;
  .bg-stack {
    display: inline-block;
    padding: 3rem 8rem 8rem 4rem;
    margin-top: -8rem;
    background-image: url("/img/header_panel_assets_cards.svg");
    background-repeat: no-repeat;
    background-size: contain;
    h2 {
      margin: 0;
    }
  }
}

#speed {
  background-color: $tan;
  background-image: repeating-conic-gradient(hsla(0, 0%, 100%, 0.2) 0 18deg, hsla(0, 0%, 100%, 0) 0 40deg);
  background-size: 100%;
}

#online-tools {
}

#feedback {
}

#toolbox {
  // Reference: Example of text replacement technique for swapping out custom font as svg.
  h2 {
    font-size: 6rem;
    span {
      display: block;
      max-width: 200px;
      margin: auto;
      text-indent: -999rem;
      font-size: 1rem;
      margin: auto;
      text-align: center;
      background-image: url("/img/damn-good.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .card {
    padding: 0 1rem;
    text-align: center;
  }
  .card-img-top {
    height: 150px;
  }
  .card-footer {
    margin-top: 2rem;
  }
}

#get-started {
}
