<section id="damn-good" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-6">
        <div class="bg-stack">
          <h2 class="h1">Why we're<br/>damn good...</h2>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <div class="p-5">
          <p class="text-mega">Our suite of online tools are built to make it easy to brainstorm, prototype, and playtest your boardgame
            ideas as fast as possible.</p>
        </div>
      </div>
    </div>
  </div>
</section>