<section id="get-started" class="bg-dark">
  <div class="bg-grid dots text-center pt-5">
    {% include svg/get-started/chest.svg %}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="copy">
          <h2>Ready to get started?</h2>
          <p>Whether you’re looking to try an idea. Or just want a tool to help you create some fast card layouts. Damn
            Good Game Tools is there to make you awesome. Let’s get to work.</p>
          <a href="#" class="btn btn-dark">Try it for free</a>
        </div>
      </div>
    </div>
  </div>
</section>