<section id="toolbox" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center my-5">
          <h3>What’s in the toolbox?</h3>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="/img/dgforge.svg" class="card-img-top" alt="dgforge">
              <div class="card-body">
                <h2 class="card-title text-info">
                  <span>Damn Good</span> Forge
                </h2>
                <p class="card-text">Our premier tool for building printable components for playtesting. Quickly design card decks, drawings, boards, and
                immediately make print-and-play versions. If you need to prototype quickly and get the ideas out of your mind, this is
                the place to start!</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary btn-lg text-white mx-auto">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/img/dgdojo.svg" class="card-img-top" alt="dgforge">
              <div class="card-body">
                <!-- REF: Here is an example of an image replacement approach to handle custom type. -->
                <h2 class="card-title text-primary">
                  <span>Damn Good</span> Dojo
                </h2>
                <p class="card-text">Get feedback on your game in a flash! Run your components and designs through a low-rules tabletop simulator. Simply
                start a game and send your friends a link. Getting quick playlists has never been easier.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary btn-lg text-white mx-auto">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/img/dgwindmill.svg" class="card-img-top" alt="dgforge">
              <div class="card-body">
                <h2 class="card-title text-success">
                  <span>Damn Good</span> Windmill
                </h2>
                <p class="card-text">Looking to fine-tune the game of your dreams in less time? Windmill deploys our custom Damn Good Game Language allowing you to simulate your game, tweak variables, and fine-tune your play testing without any humans involved.</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary btn-lg text-white mx-auto">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>