// Reference: Adding sunburst and grid elements via CSS
.bg-sunburst {
  background-image: repeating-conic-gradient(hsla(0, 0%, 100%, 0.05) 0 18deg, hsla(0, 0%, 100%, 0) 0 40deg);
  background-size: 100%;
}
.bg-grid {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 77px 77px;
  background-image: linear-gradient(to right, rgba($light, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba($light, 0.1) 1px, transparent 1px);
  &.dots {
    background-image: radial-gradient(circle, rgba($light, 0.7) 1px, rgba($light, 0) 1px);
  }
}
.text-mega {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.3;
  @include media-breakpoint-up(lg) {
    font-size: 2.5rem;
  }
}

// Reference: Theme colors are set in _settings.scss
@each $color, $value in $theme-colors {
  .fill-#{$color} {
    fill: $value;
  }
}
@each $color, $value in $colors {
  .fill-#{$color} {
    fill: $value;
  }
}

// Special fill cases
.fill-glass {
  opacity: 0.6;
  fill: $light;
  enable-background: new;
}

.stroke-dark {
  fill: none;
  stroke: $dark;
  stroke-width: 0.61;
  stroke-miterlimit: 10;
}
