@import "vendor/bootstrap/scss/functions";

// Color system
$white: #fff !default;
$gray-100: #f3f2f1;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #c0c0c0;
$gray-500: #adb5bd !default;
$gray-600: #868686;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #071a23;
$black: #000 !default;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
) !default;

$blue: #0c3f6e;
$dark-blue: #081f2f;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #ef3f7f;
$light-red: #f23c3c;
$red: #c83131;
$light-orange: #ff931d;
$orange: #f16b25;
$yellow: #f4c32d;
$dark-yellow: #dda814;
$green: #75964b;
$teal: #20c997 !default;
$cyan: #62b0e2;
$tan: #f7dea6;

$colors: (
  "blue": $blue,
  "dark-blue": $dark-blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "light-red": $light-red,
  "red": $red,
  "light-orange": $light-orange,
  "orange": $orange,
  "yellow": $yellow,
  "dark-yellow": $dark-yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
);

$primary: $orange;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100;
$lighter: $gray-200;
$mid: $gray-400;
$darker: $gray-600;
$dark: $gray-900;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "lighter": $lighter,
  "light": $light,
  "mid": $mid,
  "dark": $dark,
  "darker": $darker,
  "tan": $tan,
);

$enable-rounded: false;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
) !default;

$border-radius: 0;

$font-size-base: 1rem;
$font-family-sans-serif: "Work Sans", sans-serif;
$headings-font-family: "Bebas Neue", cursive;

$h1-font-size: $font-size-base * 5;
$h2-font-size: $font-size-base * 4;
$h3-font-size: $font-size-base * 3.75;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
) !default;

// Cards

$card-border-color: transparent;
$card-cap-color: transparent;
$card-bg: transparent;
