---
---

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@100;400&display=swap");

@import "settings";
@import "vendor/bootstrap/scss/bootstrap"; // Copied from node_modules and committed to source to allow Bootstrap to compile during build

// Global
@import "global/mixins";
@import "global/utilities";
@import "global/base";
@import "global/nav";
@import "global/layout";
@import "global/typography";
@import "global/animations";

@import "pages/homepage";

// Vendor Specific
@import "vendor/bootstrap";
